.sr-only, time {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border: 0;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
    line-height: 1;
}

body {
    margin: 0;
    background-color: #1f1f29;
}

main {
    width: 100vw;
    height: 100vh;
}

.grid__container {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 100%;
    max-width: 100vw;
}

.grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    /* gap: 4cqh; */
    /* gap: clamp(1em, 2em, 2em); */

    /* height: 100%; */
    /* max-height: 100vh; */
    /* height: fit-content; */
    /* width: fit-content; */
    /* max-width: 100vw; */
    /* margin-left: auto;
    margin-right: auto; */
    /* margin: auto; */

    /* padding: 4cqh; */
}

.grid__card {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 100%;
    padding: 4cqh;
    border-radius: 4cqh;
    background-color: #2f2f39;

    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 900;
    text-align: center;
    color: white;

    container-type: anchored;
}

.grid__card--month {
    grid-column-end: span 2;
}

.grid__card--day {
    grid-row-end: span 2;
    grid-column-end: span 1;
}

.grid__card__content {
    /* font-size: clamp(20vh, 25vh, 30vh); */
    /* font-size: 50cqw; */
    /* font-size: max(50cqw, 50cqh); */
}
